[submodule "/home/user/neurosensefx/ctrader_tick_backend"]
	path = /home/user/neurosensefx/ctrader_tick_backend
	url = https://github.com/timmye/ctrader_tick_backend
[submodule "cTrader-Layer"]
	path = cTrader-Layer
	url = https://github.com/timmye/cTrader-Layer
